/* Main stylesheet */

* {
  margin: 0;
  padding: 0;
}
body {
  animation: fadein 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1,
p {
  padding: 20px 10px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  line-height: 1;
}

/* Header */
.header {
  background-color: #e51a24;
  padding: 50px 20px;
}
.header h1,
.header p {
  font-weight: bold;
  color: #eee4e4;
}

.header p {
  font-family: "Roboto", sans-serif;
  padding-top: 0;
}
/* .header img {
  width: 200px;
  height: 200px;
} */
.profile-img {
  width: 20%;
  border-radius: 200px;
}

/* Interest css styles */
.interest {
  height: 500px;
}

.container {
  padding-top: 50px;
  /* display: inline; */
}
.interest-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-img {
  width: 20%;
}

.row {
  display: flex;
  align-items: center;
}

.project {
  height: 500px;
  background-color: #e51a24;
}

/* footer */
.footer {
  height: 500px;
}

@media screen and (max-width: 650px) {
  .interest-description {
    display: inline;
  }
  .interest-description h3 {
    font-size: 1.1rem;
  }
}
